:root {
  --lightblue: #add8e6;
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--bs-secondary-bg-subtle) !important;
  /* background-image: url("./components/imgs/235431.jpg") !important; */

  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100%;
  

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

}

.ace_tracer {
  stroke-width: 5;
}
