.prof_main_cont {
    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: white;

    padding: 20px;

    height: 100vh; 
    min-width: 600px;
    max-width: 700px;

    box-shadow: 0px 0px 6px 2px black;
}
