
.form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 3px lightgray;
    

    width: 400px;
    height: 500px;
}


.check {
    align-self: flex-start;
    padding-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;

    padding-bottom: 10px;
}

.noakk_cont {
    display: flex;

    gap: 10px;

    padding-top: 10px;
}

.noakk_cont .text {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.error_message {
    padding-top: 5px;
    color: red;
}