.main_container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    grid-auto-rows: auto;

    gap: 10px;

    border-radius: 5px;
    /* border: 2px solid lightblue; */
    box-shadow: 1px 2px 3px 1px lightblue;

    padding: 10px;

    width: 600px;
    height: 300px;
    background-color: #fff;
}

.title {
    grid-column: 1 / 4;
    grid-row: 1;

    display: flex;
    justify-content: center;
}

.cards_remaining {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.btn_cont {
    grid-column: 1 / 4;
    grid-row: 3 / 3;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.cards_grid {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards_null {
    min-height: 100px;
}

.cards {
    display: flex;

    gap: 10px
}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2px;

    border-radius: 5px;
    border: 1px solid black;

    background-color: azure;

    height: 100px;
    width: 70px;
}

.number_top {
    color: #ee8e8e;
    
    align-self: flex-start;
    justify-self: flex-start;

    height: 50%;
    user-select: none;
}
.number_mid {
    border: 1px solid lightcoral;
    border-radius: 5px;

    padding: 0 3px;

    cursor: pointer;
    user-select: none;
}
.number_mid:hover {
    background-color: lightcoral;
}
.number_bot {
    color: #ee8e8e;
    
    align-self: flex-end;
    justify-self: flex-end;

    height: 50%;

    transform: rotate(180deg);
    user-select: none;
}
