
.form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 3px lightgray;
    
    padding: 40px 10px;

    width: 400px;
    height: auto;
}

.form_wrap {
    display: flex;
    flex-direction: column;

    width: 70%;
}


.check {
    align-self: flex-start;
    padding-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;

    padding-bottom: 10px;
}

.noakk_cont {
    display: flex;

    gap: 10px;

    padding-top: 10px;
}

.noakk_cont .text {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.error_message {
    padding-top: 5px;
    color: red;
}

.repeat_pass {
    margin-top: 10px;
}

.avatar {
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 


    width: 140px;
    height: 140px;

    margin-bottom: 10px;

    border-radius: 1000px;

 
}

.avatar_hover {
    border-radius: 1000px;
    width: 100%;
    height: 100%;
    
}

.avatar_hover:hover {
    background-image: url("../../imgs/photo-svgrepo-com.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    opacity: 1;
}