.sidebar {
    position: absolute;

    left: 0;
    top: 0;

    width: 60px;
    height: 100vh;
    background: white;
    overflow: hidden;
    transition: .5s;
}

.active {
    width: 250px;
}

.sidebar ul {
    padding: 0;

    position: relative;
    height: 100vh;

    cursor: pointer;
    user-select: none;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li:hover {
    background: #f3f3f3;
}

.sidebar ul li.lilogo {
    cursor: default;
}

.sidebar ul li.lilogo:hover {
    background: #fff;
}

.sidebar ul li .item {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li .item .icon_span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
}

.sidebar ul li .item .icon {
    min-width: 30px;
    height: 30px;
}

.sidebar ul li .item .text {
    padding-left: 10px;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sidebar ul li .item .toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    cursor: pointer;
}

.sidebar ul li .item .toggle:hover {
    background: #f3f3f3;
}

.sidebar ul li .item .toggle::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #333;
    transform: translateY(-9px);
    transition: .3s;
    box-shadow: 0 9px 0 #333;
}

.sidebar ul li .item .toggle.toggle_active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px 0 #fff;
}
.sidebar ul li .item .toggle.toggle_active::after {
    transform: translateY(0px) rotate(315deg);
}


.sidebar ul li .item .toggle::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #333;
    transform: translateY(9px);
    transition: .5s;
}

.bottom_notAuthed {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bottom_authed {
    position: absolute;
    bottom: 0;
    width: 100%;
}