.search_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    gap: 10px;

    background-color: white;

    border-radius: 5px;
    box-shadow: 1px 2px 3px 1px lightblue;

    width: 300px;
    height: 200px;
}

.search_button {
    width: 120px;
    height: 60px;
}

.cancel_link {
    text-decoration: none;
    color: inherit;
}