.main_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    height: 60vh;

}

.player_card_cont {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    border-radius: 10px;

    width: 240px;
    padding: 8px 10px;
    
    background-color: white;

    align-self: flex-start;
}



.card_info {
    display: flex;
    flex-direction: column;
}

.card_title {
    font-weight: 600;
}
.card_avatar {
    width: 50px;
    height: 50px;

    background-color: aqua;
    background-image: url('../../imgs/base_87716f252d.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 1000px;
}
/* .card_username {

} */
.card_level {
    opacity: .6;
}

.game_cont {
    display: flex;
    flex-direction: row;

    background-color: white;

    /* height: 60%; */
    height: auto;


    border-radius: 10px;
}

.card_container {

    height: 100%;
    width: 20%;
}
.game_main_container {
    display: flex;
    flex-direction: column;


    padding: 10px;


    
    height: 100%;
    min-width: 600px;
}
.timer_container {

    height: 100%;
    width: 20%;
}

.player_card_container, .opp_card_container, .timer_container, .card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    padding: 10px;
}

.player_card_container{
    border-top: 2px solid lightgray;
}
.opp_card_container {
}

.buttons_container {
    display: flex;
    justify-content: center;

    gap: 10px;
}

.timer {
    font-size: 30px;
    font-weight: 600;
}

.end_turn_button {
    font-size: 12px;

    padding: 3px 8px;
}

.cards {
    display: flex;
    flex-direction: row;
    
    gap: 10px;
    
    min-height: 160px;
}

.cards_opp {
    min-height: 130px;
}



.card_back, .card_front {
    border-radius: 7px;

    width: 100px;
    height: 150px;

    background-color: rgb(248, 248, 248);
    box-shadow: 2px 2px 2px 0px black;

}

.card_back {
    background: radial-gradient(#d646e3 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #d646e3 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #d646e3 49% 51%, transparent 51%);
    background-size: 3em 3em;
    background-color: rgb(248, 248, 248);
    opacity: 1;
    border: 1px solid lightgray;
    

}

.card_front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    padding: 3px;


    transition: .1s;

    
    border: 1px solid lightgray;
}

.card_front_ace:hover {
    outline: 5px ridge greenyellow;
}

.ace_active {
    stroke-width: 2.56;
    animation: ace_in 1s 1, pulse 2s ease-in-out .5s infinite;
}

.ace_svg {
    width: 62px;
    height: 62px;

    stroke-width: 0;
    transition: .5s stroke-width;
}

@keyframes ace_in {
    0% {
        stroke-width: 0
    }
    100% {
        stroke-width: 2.56
    }
}

@keyframes pulse {
    0% {
        stroke-width: 2.56
    } 
    50% {
        stroke-width: 5
    }
    100% {
        stroke-width: 2.56
    }
}

.ace_small {
    transform: scale(-1, 1);
}

.ace_bottom {
    align-self: flex-start;
}

.ace_img {
    width: 62px;
    height: 62px;

    background-image: url("../../imgs/spades-card-svgrepo-com.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ace_img_small {
    width: 25px;
    height: 25px;
}

/* .card_front_ace:hover {
    border: 4px #f17fbe solid;
} */

.number {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
}

.top {
    align-self: flex-end;
}

.bottom {
    align-self: flex-start;
    transform: rotate(180deg);
}

.button_bottom {
    width: 180px;
}

.ace {
    align-self: center;
}

.logo {
    align-self: center;

    font-weight: 600;
    letter-spacing: 2.5px;

    transform: rotate(45deg);
    text-transform: uppercase;

    opacity: .2;
}


.lampochka_cont {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* .lampochka {
    width: 20px;
    height: 20px;
    background-color: rgb(185, 238, 104);
    border-radius: 1000px;

    outline: 5px ridge greenyellow;
} */
.lampochka {
    width: 30px;
    height: 30px;
    background: rgb(237,152,126);
    background: radial-gradient(circle, rgba(237,152,126,1) 0%, rgba(249,100,40,0.999019676229867) 40%, rgba(250,13,13,1) 74%);
    
    border-radius: 1000px;

    border: 5px solid #ffa9a9;
}

.green {
    background: rgb(243,245,244);
    background: radial-gradient(circle, rgba(243,245,244,1) 0%, rgba(74,249,40,0.999019676229867) 40%, rgba(147,250,13,1) 74%, rgba(13,250,154,1) 93%);
    
    border-radius: 1000px;

    border: 5px solid #c0ffa9;
}

.logs {
    display: flex;
    align-text: center;
    justify-content: center;
    height: 30px;
    border:1px solid #c0ffa9;
    border-radius: 100px;

    text-transform: uppercase;

    font-weight: 600;
    letter-spacing: 1px;
}
