.prof_main_cont {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-padding-top: 100px;

    background-color: white;

    height: 100vh; 
    min-width: 600px;

    box-shadow: 0px 0px 6px 2px black;
}

.profile_card {
    display: flex;
    flex-direction: row;

    align-self: flex-start;

    width: 100%;

    padding: 15px;
    padding-left: 40px;

    gap: 20px;

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 4px;

    margin-bottom: 15px;
}

.profile_info {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}
 
.avatar {

    background-color: lightcoral;

    width: 200px;
    height: 200px;

    border-radius: 1000px;

    background-image: url("../../imgs/base_87716f252d.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.user_cont {
    display: flex;
    flex-direction: row;
    
    gap: 10px;
}

.username {
    font-size: 30px;
    font-weight: 600;

    padding-bottom: 20px;
    
}

.re {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 15px;

    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.lvl_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.lvl_count {
    padding-left: 40px;
}

.exp_count {
    padding-right: 40px;
    align-self: flex-end;
}

.prog_bar {
    width: 90%;

    margin-bottom: 20px;
}

.next_perk_wrap{
    display: flex;
    align-self: flex-start;
}

.next_perk_title {
    padding-top: 10px;
    padding-left: 40px;
    align-self: flex-start;

    font-weight: 600;
    text-transform: uppercase;
}

.next_perk {
    padding-top: 10px;
    padding-left: 5px;
    align-self: flex-start;

    text-transform: uppercase;
}

.your_perks_title {
    font-weight: 600;
    text-transform: uppercase;
}

.perks_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-self: center;

    row-gap: 10px;

    border: 1px solid lightgray;

    padding: 10px;


    width: 93%;
    height: auto;
}

.perk_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.perk_cont {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background-color: lightblue;
    border-radius: 1000px;

    opacity: 0.5;

    transition: .5s;

    cursor: pointer;
}

.perk_cont:hover {
    border: 1px solid black;
}

.active {
    background-color: lightblue;
    border: 1px solid black;
    opacity: 1;
}

.locked {
    background-color: black;
    cursor: default;
    opacity: 1;
}

.perk_img {
    background-image: url("../../imgs/lock-keyhole-svgrepo-com.svg");
    width: 25px;
    height: 25px;
}

.locked:hover {
    background-color: black;
    border: 1px solid ;
    cursor: default;
}

.modal_cont {
    position: absolute;
    display: flex;
    flex-direction: column;

    padding: 10px;

    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;

    width: 200px;
    height:250px;

    transform: translate(135px, 80px);

    opacity: 1;

    z-index: 100;
}

.perk_title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

.lvl_req {
    margin-top: auto;

    font-size: 12px;
    text-transform: uppercase;

    opacity: 0.7;
}