.chat_main_cont {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 10px;

    background-color: white;
    border-radius: 5px;
    
    width: 300px;
    height: 90vh;

    right: 10px;
    bottom: 10px;

    z-index: -10
}

.messages_cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-template-rows: repeat(8, 1fr);
    width: 100%;

    height: 100%;
    overflow-x: auto
}

.message_cont {
    display: flex;
    flex-direction: row;

    gap: 10px;

    padding-bottom: 10px;
    padding-left: 4px;

    width: 100%;
    min-height: 40px;


}

.message_author {
    color: rgb(122, 199, 225);
    font-weight: 600;
}

.message {
    word-break: break-all;
}

.no_messages {
    position: relative;
    margin-top: auto;
    padding-bottom: 4px;
    opacity: .7;
    font-size: 10;
    align-self: center;
}

.btn_wrap {
    display: flex;
    height: 0;
}

.messages_form {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.input_message {
    position: relative;
}


.submit_message_button {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    padding: 0 !important;
    width: 30px;
    height: 30px;
    left: 246px;
    bottom: -4px;

    z-index: 100;
}

.send_img {
    background-image: url("../../imgs/send-email-svgrepo-com.svg");
    width: 20px;
    height: 20px;

    z-index: 101;
}

.modal_cont {
    position: absolute;

    width: 150px;
    height: auto;
    padding: 8px 8px;

    border-radius: 8px;
    border: 2px solid black;

    background-color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    transform: translate(-170px, 0px);

    z-index: 1000;

    
}
/* . {
    position: absolute;
    display: flex;
    flex-direction: column;

    padding: 10px;

    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;

    width: 200px;
    height:250px;

    transform: translate(135px, 80px);

    opacity: 1;

    z-index: 100;
} */

.active {
    display: block;
}

.modal_btns {
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
}

.clickable {
    cursor: pointer;

}

.clickable:hover {
    text-decoration: underline;
}